/* tanda . diawal untuk panggil class */
.jumbotron{
	padding-top: 5rem;
}
/* tanda # diawal untuk manggil id */
#Home{
	background-color: #080908;
}
#contact{
	background-color: #212221;
 }
#About{
	background-color: #212221;
}
#footer{
	background-color: #080908;
}
section{
	padding-top: 7rem;
}
 